[tool.poetry]
name = "turbo-text-transormer"
version = "0.1.0"
description = ""
authors = ["fergus <fergusfettes@gmail.com>"]
readme = "README.md"
packages = [{include = "ttt"}]

[tool.poetry.dependencies]
python = "^3.10"
pyyaml = "^6.0"
openai = "^0.27.0"
click = "^8.1.3"
colored = "^1.4.4"
tiktoken = "^0.3.0"

[tool.poetry.group.dev.dependencies]
ipdb = "^0.13.11"
ipython = "^8.11.0"
turbo-text-transformer-prompts = {git = "ssh://git@github.com/fergusfettes/turbo-text-transformer-prompts", rev = "main"}

[tool.poetry.scripts]
ttt = "ttt.__main__:main"

[project]
name = "turbo-text-transformer"
version = "0.1.0"

[project.scripts]
ttt = "ttt.__main__:main"

[tool.setuptools]
packages = ["ttt"]

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"
