aiohttp==3.8.4 ; python_full_version > "3.8.0"
aiosignal==1.3.1 ; python_full_version > "3.8.0"
appnope==0.1.3 ; sys_platform == "darwin" and python_full_version > "3.8.0"
asttokens==2.2.1 ; python_full_version > "3.8.0"
async-timeout==4.0.2 ; python_full_version > "3.8.0"
attrs==22.2.0 ; python_full_version > "3.8.0"
backcall==0.2.0 ; python_full_version > "3.8.0"
blobfile==2.0.1 ; python_full_version > "3.8.0"
certifi==2022.12.7 ; python_full_version > "3.8.0"
charset-normalizer==2.0.12 ; python_full_version > "3.8.0"
click==8.1.3 ; python_full_version > "3.8.0"
colorama==0.4.6 ; python_full_version > "3.8.0" and platform_system == "Windows" or python_full_version > "3.8.0" and sys_platform == "win32"
colored==1.4.4 ; python_full_version > "3.8.0"
decorator==5.1.1 ; python_full_version > "3.8.0"
executing==1.2.0 ; python_full_version > "3.8.0"
filelock==3.9.0 ; python_full_version > "3.8.0"
frozenlist==1.3.3 ; python_full_version > "3.8.0"
idna==3.4 ; python_full_version > "3.8.0"
ipython==8.11.0 ; python_full_version > "3.8.0"
jedi==0.18.2 ; python_full_version > "3.8.0"
jinja2==3.1.2 ; python_full_version > "3.8.0"
lxml==4.9.2 ; python_full_version > "3.8.0"
markupsafe==2.1.2 ; python_full_version > "3.8.0"
matplotlib-inline==0.1.6 ; python_full_version > "3.8.0"
multidict==6.0.4 ; python_full_version > "3.8.0"
openai==0.26.5 ; python_full_version > "3.8.0"
parso==0.8.3 ; python_full_version > "3.8.0"
pexpect==4.8.0 ; sys_platform != "win32" and python_full_version > "3.8.0"
pickleshare==0.7.5 ; python_full_version > "3.8.0"
prompt-toolkit==3.0.38 ; python_full_version > "3.8.0"
ptyprocess==0.7.0 ; sys_platform != "win32" and python_full_version > "3.8.0"
pure-eval==0.2.2 ; python_full_version > "3.8.0"
pycryptodomex==3.17 ; python_full_version > "3.8.0"
pygments==2.14.0 ; python_full_version > "3.8.0"
pyyaml==6.0 ; python_full_version > "3.8.0"
regex==2022.10.31 ; python_full_version > "3.8.0"
requests==2.27.1 ; python_full_version > "3.8.0"
six==1.16.0 ; python_full_version > "3.8.0"
stack-data==0.6.2 ; python_full_version > "3.8.0"
tiktoken==0.2.0 ; python_full_version > "3.8.0"
tqdm==4.65.0 ; python_full_version > "3.8.0"
traitlets==5.9.0 ; python_full_version > "3.8.0"
turbo-text-transformer-prompts==0.1.7 ; python_full_version > "3.8.0"
urllib3==1.26.14 ; python_full_version > "3.8.0"
wcwidth==0.2.6 ; python_full_version > "3.8.0"
yarl==1.8.2 ; python_full_version > "3.8.0"
